<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anglara - Server Status</title>
        <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #4CAF50;
        }
        p {
            font-size: 18px;
        }
        .status {
            font-size: 24px;
            font-weight: bold;
            color: #333;
        }
    </style>
    </head>
    <body>

        <h1>Welcome Team Anglara!</h1>
        <p class="status">The server is up and running successfully!</p>
        <p>Current time: <strong><%= new Date().toLocaleString() %></strong></p>
        <p>Multi-Level Category Management API By</p>
        <p>Varun Shah | <a
                href="tel:+918238960631">
                8238960631
            </a> | <a
                href="mailto:varunshah02@icloud.com">
                varunshah02@icloud.com
            </a></p>
    </body>
</html>